!!! 5
html
  head
    title = PageTitle
    script(src = '/public/d3.min.js')
    script(src = '/public/crossfilter.min.js')
    link(rel = 'stylesheet', href = '/public/css/style.css')
  body
    script(src = '/public/js/data.js')
    script(src = '/public/js/gallop_safely.js')
