!!! 5
html
  head
    title = pageTitle
    script(src = '/public/d3.min.js')
    script(src = '/public/crossfilter.min.js')
    link( rel = 'stylesheet', href = '/public/css/foundation.css')
  body
    script(src = '/public/js/words.js')
    script(src = '/public/js/wordgen.js')
    script(src = '/public/js/w.js')
