!!! 5
html
  head
    title = pageTitle
    script(src = '/public/d3.min.js')
    script(src = '/public/crossfilter.min.js')
    link( rel = 'stylesheet', href = '/public/css/style.css')
    link( rel = 'stylesheet', href = '/public/css/foundation.css')
  body
    div.row
      div.small-8.small-centered.columns(style='margin-top:10%;')
        div#counter.small-12.small-centered.columns(style = 'margin-bottom:5px; margin-left:5px;')
        input#solver(type='text', placeholder='put anagram here',style='border: 1px solid #33add6;' )
        div#message.small-12.small-centered.columns(style = 'text-align:center;')
      div#graph.small-8.small-centered.columns
        script(src = '/public/js/w.js')
