!!! 5
html
  head
    title = pageTitle
    meta(name = 'description', content = 'Anagram solver')
    meta(name = 'keywords', content = 'anagram, solver, jumble, word, words, wordthings, unscramble, scrabble, words with friends, game, cheat, unscrambler, unjumble, dictionary, sowpods, d3, enable, twl06, owl, ospd4, solve, puzzle, word tools, generator')
    script(src = '/public/d3.min.js')
    script(src = '/public/crossfilter.min.js')
    link( rel = 'stylesheet', href = '/public/css/style.css')
    link( rel = 'stylesheet', href = '/public/css/foundation.css')
  body
    div.row
      div.small-12.small-centered.columns(style = 'margin-top: 5%;border-bottom: 3px solid GhostWhite;text-align:center;')
        h3(style = 'color: #4d4d4d') A convenient anagram solver.
    div.row
      div.small-8.small-centered.columns(style='margin-top:5%;')
        div#counter.small-12.small-centered.columns
        div.small-12.small-centered.columns
          div.small-10.columns
            input#solver(type='text', placeholder='put anagram here')
          div.small-2.columns
            a#solveButton.tiny.round.secondary.button(style = 'margin-top:2.5%; background-color: GhostWhite;')
              i unscramble
        div#dicts.small-12.columns
          div.dict(style = 'float: left;margin-right:3.5%;')
            <i>dictionaries: <i>
          div.dict(style = 'width:16%;')
            label
              <input type = 'radio'> enable </label> 
          div.dict
            label
              <input type = 'radio'> ospd4
          div.dict(style = 'width: 12.5%;')
            label
              <input type = 'radio'> owl
          div.dict(style = 'width: 18%;')
            label
              <input type = 'radio'> sowpods
          div.dict(style = 'float: right;width:14%;')
            label
              <input type = 'radio'> twl06
        div#sorting.small-12.columns
          div.sort
            div.sortchild
              <i>sorting:</i>
          div.sort
            a.tiny.secondary.round.button.sortchild(style='float:left;margin-top:2.5%;background-color:GhostWhite;')
              i alphabetical
          div.sort
            a.tiny.secondary.round.button.sortchild(style='float:left;margin-top:2.5%;background-color:GhostWhite;')
              i ascending
        div#colLinks.dict.small-12.columns
        div#message.small-12.columns
        div#wordcount.small-12.columns
          i
      div#graph.small-8.small-centered.columns
        script(src = '/public/js/w.js')
    div.row
      div#faq.small-7.small-centered.columns(style = 'color: #4d4d4d;/*border-top:3px solid GhostWhite;*/')
        p(style='margin-bottom:2%;') It will solve your anagram, it will unscramble your word jumble. It uses official dictionaries accepted in Scrabble, Words with Friends, and other word games.
        p Results are arranged in easy-to-scan vertical columns. 
        p Select dictionaries, sort results, or make new searches without reloading the page. 
        p(style = 'margin-bottom:2%;') Enter racks up to 35 characters in length. Denote wildcards with '*'.
        p The anagram-solver started small, but it is growing-- at this very moment, expanding.
        p Like the universe.
        p As such, features are being added that will enhance not only its convenience, but its velocity toward heat-death.
