!!! 5
html
  head
    title = pageTitle
    script(src = '/public/d3.min.js')
    script(src = '/public/crossfilter.min.js')
    link( rel = 'stylesheet', href = '/public/css/style.css')
    link( rel = 'stylesheet', href = '/public/css/foundation.css')
  body
    div.row
      div.large-6.columns(style='margin-top:10%;')
        input#solver(type='text', placeholder='put anagram here' )
      div#graph.large-12.columns(style='overflow:auto;')
        script(src = '/public/js/w.js')
