!!! 5
html
  head
    title = PageTitle
      script(src = '/public/d3.js')
      link(rel = 'stylesheet', '/public/css/foundation.css')
    body
      div.row
        #main.large-12.columns
          script(src = '/public/js/auth.js')
