!!! 5
html
  head
    title = pageTitle
    script(src = '/public/d3.min.js')
    script(src = '/public/crossfilter.min.js')
    link(rel = 'stylesheet', href = '/public/css/foundation.css')
  body
    div#container(style = 'text-align:center;')
      svg#canvas(height = 2000, width = 900) 
        g#everything
          g#surprise1.s
            image(xlink:href = '/public/css/fireDancer.jpg', width = 400, height = 400)
          g#collection 
            image#dancer(xlink:href = '/public/css/fireDancer.jpg', width = 400, height = 400)
          g#surprise2.s
            image(xlink:href = '/public/css/fireDancer.jpg', width = 400, height = 400)
          g#surprise3.s
            image(xlink:href = '/public/css/fireDancer.jpg', width = 400, height = 400)
    div.row
      script(src = '/public/js/sandbox.js')
