!!! 5
html
  head
    title = PageTitle
    script(src = '/public/d3.js')
    link(rel = 'stylesheet', href = '/public/css/stylemap.css')
    link(rel = 'stylesheet', href = '/public/css/foundation.css')
  body
    #map
      svg(width = '100%', height ='5%')
        g
          text#title.official(x = '25%', y = '50%', transform = 'scale(2,1.5)') GALLOPING MAP
      svg(width = '100%', height ='5%')
        g
          text#advert.official2(x = '50%', y = '50%') Brought to you by the Galactic Transit Authority: a proud subsidiary of the Red Corps.
      svg#canvas
        g#collection
          image#milkyWay(xlink:href = '/public/css/map.png')
        g#controlPanel
    div.row(style='display:none')
      script(src = '/public/js/data.js')
      script(src = '/public/js/userMap.js')
