!!! 5
html
  head
    title = PageTitle
    script(src = '/public/d3.min.js')
    link(rel = 'stylesheet', href = '/public/css/stylemap.css')
    link(rel = 'stylesheet', href = '/public/css/foundation.css')
  body(style = 'text-align:center;background-color:black')
    #map
      svg#canvas(width = 2500, height = 2500)
        g#collection
          image#milkyway(xlink:href = '/public/css/map.png', width = 2500, height = 2500)
    div.row(style='display:none')
      script(src = '/public/js/data.js')
      script(src = '/public/js/userMap.js')
