!!! 5
html
  head
    title = PageTitle
    script(src = '/public/d3.min.js')
    link(rel = 'stylesheet', href = '/public/css/stylemap.css')
    link(rel = 'stylesheet', href = '/public/css/foundation.css')
  body
    #frame
      #panel
        #innerpanel
          div.row
            #title.large-12.columns
                div.large-12.columns(style = 'margin-bottom: 10px')
                  h4.header <u>GALLOPING MAP:</u>
                  p.header <u>Official Registry of Legally Sanctioned Galloping Nodes</u>
                  i#gta Brought to you by the Galactic Transit Authority, a proud subsidiary of the Red Corps.
          div.row
            #infoadd.large-12.columns
          div.row
            #for_examine.large-12.columns
      #map
        svg#canvas(width = 2500, height = 2500)
          g#collection
            image#milkyway(xlink:href = '/public/css/map.png', width = 2500, height = 2500)
    
    script(src = '/public/js/data.js')
    script(src = '/public/js/userMap.js')
