!!! 5
html
  head
    title = PageTitle
    script(src = '/public/d3.js')
    link(rel = 'stylesheet', href = '/public/css/stylemap.css')
    link(rel = 'stylesheet', href = '/public/css/foundation.css')
  body
    #map
      svg#canvas
        g#collection
          image#milkyWay(xlink:href = '/public/css/map.png')
        g#controlPanel
    div.row(style='display:none')
      script(src = '/public/js/data.js')
      script(src = '/public/js/userMap.js')
