text {
  text-anchor: middle;
}
.cols {
  float: left;
  border-top: 3px solid GhostWhite;
  text-align: center;
}
.cols div{ 
  margin-bottom: 2.5%;
  margin-top: 2.5%;
  text-align: center;
}
.message {
  color: #4d4d4d;
  text-align: center;
}

#dicts {
  margin-bottom:2.5%; 
}

#sorting {
  margin-bottom:2.5%;
}

#wordcount {
  text-align: center;
  margin-bottom:2.5% 
}

.dict {
  text-align: left;
  float: right;
  width: 15%;
  margin-left: 1%;
  color: #4d4d4d;
}

.sort {
  text-align: center;
  margin-bottom: 2.5%;
  color: #4d4d4d;
  border-top: 3px solid GhostWhite;
  width: 30%;
  float: left;
}

#graph {
  margin-bottom: 10%;
}

.sortchild {
  margin-top: 5%;
}

#counter {
  margin-bottom: 2.5%;
  margin-left:2.5%; 
  text-align: left;
}

#solver {
  border: 1px solid #33add6;
}
