#map { 
  overflow: auto;
}

.link { stroke: #85ffff;
  stroke-width: 3.5;
}

p { color: gray; 
}

.header {
  color: #93cccc;
  font-weight: 900;
}

b { color: #669999; }

#gta { 
  color: #93cccc;
  margin-bottom: 10px;
}

#title {
  border: 1px solid GhostWhite;
  text-align: center;
  box-shadow: 3px 3px 3px GhostWhite;
  margin-bottom: 10px;
}

#message { 
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 3px;
  margin-left: 3px;
  text-align: center;
}

.entry {
  color: #f2f2f2;
}

.default { stroke: Snow;
  fill: gray;
}

.Other { stroke: #85ffff;
  fill: blue;
}

.Abolis { stroke: #ffff00;
  fill: #006600;
}

.Federation { stroke: #ff0066;
  fill: #000038;
}

.Red.Corps { stroke: #85ffff;
  fill: #cc0000; 
}
