#frame { 
  overflow: hidden;
}

#panel { width: 25%;
  border: solid 1px #85ffff;
  display: inline-block;
  background: #00001e;
  overflow: auto;
}

#innerpanel { width: 100%;
  height: 100%;
  display: inline-block;
}

#map { width: 75%;
  display: inline-block;
  overflow: auto;
}

.small.button.round.expand { background-color: #66083b;
  border-color: #85ffff;
}

#info { border: 1px solid GhostWhite; 
}

.link { stroke: #85ffff;
  stroke-width: 3.5;
}

p { color: gray; 
}

b { color: #669999; }

#gta { color: #85ffff;
}

#message { 
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 3px;
  margin-left: 3px;
  text-align: center;
}
.default { stroke: Snow;
  fill: gray;
}

.Other { stroke: #85ffff;
  fill: blue;
}

.Abolis { stroke: #ffff00;
  fill: #006600;
}

.Federation { stroke: #ff0066;
  fill: #000038;
}

.Red.Corps { stroke: #85ffff;
  fill: #cc0000; 
}
