#frame { 
  overflow: hidden;
}
#map {
  overflow: auto;
}
#canvas {
  t-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
}

.honing circle {
  stroke: blue;
  stroke-width: 5px;
  fill-opacity: .4;
  fill: Navy;
}

.background {
  fill-opacity: .4;
  fill: Navy;
}

.instructions {
  fill: #85ffff;
  font-weight: bolder;
  font-size: 100%;
  text-anchor: middle;
  cursor: default;
};

#panel { width: 25%;
  border: solid 1px #85ffff;
  display: inline-block;
  background: #00001e;
  overflow: auto;
}

.nodeTitle {
  stroke: maroon;
  fill: red;
  stroke-width: 1px;
  font-weight:bolder; 
  pointer-events:none;
  font-size:100%;
}

.vertexTitle {
  fill: #85ffff;
  font-weight: bolder;
  font-size: 130%;
}

#innerpanel { width: 100%;
  height: 100%;
  display: inline-block;
}

.container {
   width: 100%;
   height: 7%;
   fill-opacity: .4;
}

.official {
  fill: maroon;
  stroke: red;
  stroke-width: 1px;
  fill-opacity: .4;  
  font-weight: bolder;
  font-size: 150%;
  cursor: default;
  text-anchor:middle;
}

.super {
  font-size: 125%;
}

.official2 {
  font-style: italic;
  fill: GhostWhite;
  stroke: #85ffff;
  stroke-width: 1px;
  fill-opacity: .7;
  //font-weight: bolder;
  font-size: 100%;
  pointer-events:none;
  text-anchor: middle;
}

.button {
  fill: Navy;
  stroke: #c4ffff;
  stroke-width: 2px;
  fill-opacity: .6;
}

.buttonText {
  fill: GhostWhite;
  fill-opacity: .5
  font-size: 90%;
  pointer-events:none;
  text-anchor: middle;
}

#map { 
  background-color: black;
  text-align:center;
  overflow:auto;
  display: inline-block;
}

.small.button.round.expand { background-color: #66083b;
  border-color: #85ffff;
}

#info { border: 1px solid GhostWhite; 
}

.link { stroke: #85ffff;
  stroke-width: 2.5;
}

p { color: gray; 
}

b { color: #669999; }

#gta { color: #85ffff;
}

#message { 
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 3px;
  margin-left: 3px;
  text-align: center;
}
.default { stroke: GhostWhite;
  fill: gray;
}

.Other { stroke: #85ffff;
  fill: blue;
}

.Abolis { stroke: #ccdf00; 
  fill: green;
}

.Federation { stroke: #33ff33;
  fill: #1f1f5c;
}

.Red.Corps { stroke: #85ffff;
  fill: red;
}

